:root {
  --action-100: #0094ff28;
  --action-100-opaque: #d6eeff;
  --action-200: #5bbaff77;
  --action-200-opaque: #b2dfff;
  --action-25: #70c5ff11;
  --action-25-opaque: #f5fbff;
  --action-300: #74c7fd;
  --action-400: #0096ff;
  --action-50: #37afff19;
  --action-50-opaque: #ebf7ff;
  --action-500: #005bff;
  --action-600: #0050e0;
  --alert-100: #ff698e28;
  --alert-100-opaque: #ffe7ed;
  --alert-200: #ff92ae77;
  --alert-200-opaque: #ffccd9;
  --alert-25: #ff9bb711;
  --alert-25-opaque: #fff8fa;
  --alert-300: #fda5be;
  --alert-400: #fb3d8b;
  --alert-50: #ff91af19;
  --alert-50-opaque: #fff4f7;
  --alert-500: #f1117e;
  --alert-600: #cd066a;
  --aquaBlue: #25cfe9;
  --base-layout-padding: 24px;
  --base-layout-width: 1216px;
  --base-layout-wrapper-min-width: 1264px;
  --brand-accent-green-grass: #00be6c;
  --brand-accent-orange-star: #ffa800;
  --brand-additional-dark-space: #001a34;
  --brand-additional-morning-blue: #00a2ff;
  --brand-fresh-ozon-fiji: #00bebe;
  --brand-ozon-tech-antiflash-white: #f1f1f1;
  --brand-ozon-tech-dark-cerulean: #134c6e;
  --brand-ozon-tech-ghost-white: #f9f9f9;
  --brand-ozon-tech-oxford-blue: #032b44;
  --brand-ozon-tech-prussian-blue: #0a3956;
  --brand-ozon-tech-tech-green: #3adf68;
  --brand-primary-ozon-blue: #005bff;
  --brand-primary-ozon-magenta: #f1117e;
  --darkSpace: #081b2b;
  --econom-100: #ff820028;
  --econom-100-opaque: #ffebd2;
  --econom-200: #f69f1d77;
  --econom-200-opaque: #fbd295;
  --econom-25: #ffa94511;
  --econom-25-opaque: #fff9f2;
  --econom-300: #fbd295;
  --econom-400: #f88f14;
  --econom-50: #f57d0019;
  --econom-50-opaque: #fef2e2;
  --econom-500: #ba5707;
  --econom-600: #934012;
  --elevation-200: 0px 0px 4px 0px #abbcd51e,0px 4px 10px 0px #7c9bb53a;
  --elevation-200-top: 0px 0px 4px 0px #abbcd51e,0px -4px 10px 0px #7c9bb53a;
  --elevation-300: 0px 0px 4px 0px #abbcd51e,0px 0px 24px 0px #7c9bb53a;
  --elevation-500: 0px 0px 4px 0px #abbcd51e,0px 8px 16px -2px #7c9bb53a;
  --elevation-500-left: 0px 0px 4px 0px #abbcd51e,-8px 0px 16px -2px #7c9bb53a;
  --elevation-500-right: 0px 0px 4px 0px #abbcd51e,8px 0px 16px -2px #7c9bb53a;
  --elevation-500-top: 0px 0px 4px 0px #abbcd51e,0px -8px 16px -2px #7c9bb53a;
  --elevation-900: 0px 0px 4px 0px #abbcd51e,0px 16px 24px -2px #7c9bb53a;
  --icon-200-inverted: #ffffff4c;
  --icon-300: #4b667e87;
  --icon-300-inverted: #ffffff7f;
  --icon-500: #001a3399;
  --icon-500-inverted: #ffffffdb;
  --icon-600: #02182baf;
  --icon-600-inverted: #fff;
  --info-100: #05c6c028;
  --info-100-opaque: #d7f6f5;
  --info-200: #3fc7c577;
  --info-200-opaque: #a5e5e4;
  --info-25: #28e2e211;
  --info-25-opaque: #f0fdfd;
  --info-300: #7ce3e2;
  --info-400: #00bebe;
  --info-50: #00c3b919;
  --info-50-opaque: #e2f9f8;
  --info-500: #009494;
  --info-600: #007d7d;
  --main-0: #fff;
  --main-0-transparent: #fff0;
  --main-100: #f8fafd;
  --main-100-inverted: #ffffff0f;
  --main-50: #f8fafd;
  --main-50-inverted: #ffffff1e;
  --main-800: #2f3135;
  --main-900: #070707;
  --negative-100: #ff755028;
  --negative-100-opaque: #ffe9e3;
  --negative-200: #f8987077;
  --negative-200-opaque: #fccfbc;
  --negative-25: #ff9b8c11;
  --negative-25-opaque: #fff8f7;
  --negative-300: #fc8d69;
  --negative-400: #ff5c52;
  --negative-50: #ff693719;
  --negative-50-opaque: #fff0eb;
  --negative-500: #f53c14;
  --negative-600: #db2919;
  --neutral-100: #95a6b62d;
  --neutral-100-opaque: #eceff2;
  --neutral-150: #7c9bb53a;
  --neutral-150-opaque: #e1e8ee;
  --neutral-200: #5f7e9b59;
  --neutral-25: #ffffff0f;
  --neutral-300: #5e768b75;
  --neutral-400: #768695;
  --neutral-50: #abbcd51e;
  --neutral-50-opaque: #f5f7fa;
  --neutral-500: #667685;
  --neutral-600: #253646;
  --opacity-100: 10%;
  --opacity-200: 25%;
  --opacity-300: 50%;
  --opacity-400: 75%;
  --opacity-50: 5%;
  --opacity-500: 100%;
  --overlay-dimming: #03080d3d;
  --overlay-paranja: #9bb7e211;
  --ozonBlue: #005bff;
  --ozonMagenta: #f1117e;
  --pro-100: #9488ff28;
  --pro-100-opaque: #eeecff;
  --pro-200: #aea7fa77;
  --pro-200-opaque: #d9d6fd;
  --pro-25: #a9a9ff11;
  --pro-25-opaque: #f9f9ff;
  --pro-300: #bcbbfb;
  --pro-400: #8e86f9;
  --pro-50: #7369eb19;
  --pro-50-opaque: #f1f0fd;
  --pro-500: #5b51de;
  --pro-600: #5040bb;
  --select: #1d2024;
  --shadowToken-100: 0 0 2px rgba(0,0,0,.12);
  --success-100: #05d90528;
  --success-100-opaque: #d7f9d7;
  --success-200: #00e11077;
  --success-200-opaque: #87f18f;
  --success-25: #1aff6111;
  --success-25-opaque: #effff4;
  --success-300: #00db5b;
  --success-400: #00c451;
  --success-50: #00eb4119;
  --success-50-opaque: #e4fdec;
  --success-500: #00b14a;
  --success-600: #007f33;
  --text-200: #2a49648c;
  --text-200-inverted: #ffffff7a;
  --text-300: #001a3399;
  --text-300-inverted: #fff9;
  --text-500: #070707;
  --text-500-inverted: #f8fafd;
  --ui-color-amber: #ffd900;
  --ui-color-aquamarine: #06ca99;
  --ui-color-azure: #44a9e3;
  --ui-color-black: #172133;
  --ui-color-black-light: #48556e;
  --ui-color-blue: #216bff;
  --ui-color-blue-bg: #e9f0fd;
  --ui-color-blue-dark: #1849a9;
  --ui-color-blue-light: #92b4f6;
  --ui-color-blues: #337cff;
  --ui-color-gray: #d4d9e2;
  --ui-color-gray-dark: #8d95a5;
  --ui-color-gray-light: #e6e9f0;
  --ui-color-gray-white: #f5f7fa;
  --ui-color-green: #3ac267;
  --ui-color-green-bg: #dffae8;
  --ui-color-green-dark: #268045;
  --ui-color-green-light: #93ddac;
  --ui-color-premium: #012250;
  --ui-color-purple: #a57bf1;
  --ui-color-red: #df2059;
  --ui-color-red-bg: #fde5ec;
  --ui-color-red-dark: #861313;
  --ui-color-red-light: #f47b9f;
  --ui-color-rosy: #d69ab7;
  --ui-color-verdant: #3ac267;
  --ui-color-white: #fff;
  --ui-color-yellow: #ffd900;
  --ui-color-yellow-bg: #fff7d1;
  --ui-color-yellow-dark: #e59900;
  --ui-color-yellow-light: #ffed8a;
  --warning-100: #ffa10028;
  --warning-100-opaque: #fff0d1;
  --warning-200: #fea40076;
  --warning-200-opaque: #ffd540;
  --warning-25: #ffb70011;
  --warning-25-opaque: #fffae8;
  --warning-300: #ffb800;
  --warning-400: #ffa800;
  --warning-50: #ffb90019;
  --warning-50-opaque: #fff8e0;
  --warning-500: #f0a000;
  --warning-600: #e17f07;
  --wreathGreen: #00c451;
  --yellowStar: #ffd540;
  --z-index-notification: 11000;
  --z-index-popup: 9000;
  --z-index-side-page: 8000;
  --z-index-window: 9000;
}