:root {
  --action-100: #2f9bf94d;
  --action-100-opaque: #c1e1fe;
  --action-25: #2f9bf90d;
  --action-25-opaque: #f4fafe;
  --action-300: #5ccafa;
  --action-400: #2f9bf9;
  --action-50: #2f9bf91f;
  --action-50-opaque: #e6f3fe;
  --action-500: #005bff;
  --action-600: #0045bd;
  --alert-100: #f961864d;
  --alert-100-opaque: #fed0db;
  --alert-25: #f961860d;
  --alert-25-opaque: #fef7f9;
  --alert-300: #ff95b8;
  --alert-400: #f96186;
  --alert-50: #f961861f;
  --alert-50-opaque: #feecf0;
  --alert-500: #d3003d;
  --alert-600: #9e002c;
  --aquaBlue: #28d1eb;
  --brand-accent-green-grass: #00be6c;
  --brand-accent-orange-star: #ffa800;
  --brand-additional-dark-space: #001a34;
  --brand-additional-morning-blue: #00a2ff;
  --brand-fresh-ozon-fiji: #00bebe;
  --brand-ozon-tech-antiflash-white: #f1f1f1;
  --brand-ozon-tech-dark-cerulean: #134c6e;
  --brand-ozon-tech-ghost-white: #f9f9f9;
  --brand-ozon-tech-oxford-blue: #032b44;
  --brand-ozon-tech-prussian-blue: #0a3956;
  --brand-ozon-tech-tech-green: #3adf68;
  --brand-primary-ozon-blue: #005bff;
  --brand-primary-ozon-magenta: #f1117e;
  --darkSpace: #001a34;
  --econom-100: #ff8d0336;
  --econom-100-opaque: #ffe7ca;
  --econom-25: #ff9b260d;
  --econom-25-opaque: #fff9f2;
  --econom-300: #fbd295;
  --econom-400: #f88f14;
  --econom-50: #ff8d0524;
  --econom-50-opaque: #ffefdc;
  --econom-500: #ba5707;
  --econom-600: #934012;
  --elevation-200: 0 2px 8px #0000001f,0 0 2px #0000001f;
  --elevation-200-top: 0 -2px 8px #0000001f,0 0 2px #0000001f;
  --elevation-300: 0 0 24px #0000001f,0 0 2px #0000001f;
  --elevation-500: 0 8px 16px -2px #0000001f,0 0 2px #0000001f;
  --elevation-500-left: -8px 0 16px -2px #0000001f,0 0 2px #0000001f;
  --elevation-500-right: 8px 0 16px -2px #0000001f,0 0 2px #0000001f;
  --elevation-500-top: 0 -8px 16px -2px #0000001f,0 0 2px #0000001f;
  --elevation-900: 0 16px 24px -2px #0000001f,0 0 2px #0000001f;
  --header-height: 56px;
  --header-z-index: 999;
  --height-header: 92px;
  --icon-300: #0011224d;
  --icon-300-inverted: #ffffffa6;
  --icon-500: #00112273;
  --icon-500-inverted: #fffc;
  --icon-600: #0011228c;
  --icon-600-inverted: #fffffff2;
  --info-100: #06a7bb4d;
  --info-100-opaque: #b5e5eb;
  --info-25: #06a7bb0d;
  --info-25-opaque: #f2fafb;
  --info-300: #4fcee4;
  --info-400: #06a7bb;
  --info-50: #06a7bb1f;
  --info-50-opaque: #e1f4f6;
  --info-500: #007a91;
  --info-600: #155a69;
  --libra-ui-image-padding: 8px;
  --main-0: #fff;
  --main-100: #f5f7fa;
  --main-50: #f9fafb;
  --main-900: #000;
  --negative-100: #ff79654d;
  --negative-100-opaque: #ffd7d1;
  --negative-25: #ff79650d;
  --negative-25-opaque: #fff8f7;
  --negative-300: #fc9a83;
  --negative-400: #ff7965;
  --negative-50: #ff79651f;
  --negative-50-opaque: #ffefec;
  --negative-500: #e83827;
  --negative-600: #8e2e36;
  --neutral-100: #6183a229;
  --neutral-100-opaque: #e6ebf0;
  --neutral-200: #6183a242;
  --neutral-300: #6183a26e;
  --neutral-400: #707e90;
  --neutral-50: #6183a21a;
  --neutral-50-opaque: #f0f3f6;
  --neutral-500: #546378;
  --neutral-600: #203148;
  --opacity-100: 10%;
  --opacity-200: 25%;
  --opacity-300: 50%;
  --opacity-400: 75%;
  --opacity-50: 5%;
  --opacity-500: 100%;
  --os-scroll-percent: 0;
  --os-viewport-percent: 0;
  --overlay-paranja: #0030780a;
  --ozi-active-bg-action-primary: #0050e0;
  --ozi-active-bg-negative-primary: #a72712;
  --ozi-active-bg-neutral-secondary-transparent: #7c9bb53a;
  --ozi-active-bg-secondary-transparent: #6886a14c;
  --ozi-active-bg-tertiary-transparent: #7c9bb53a;
  --ozi-active-elevation-overlay1: #eceff2;
  --ozi-active-elevation-overlay2: #eceff2;
  --ozi-active-graphic-action-primary: #0096ff;
  --ozi-active-graphic-negative: #ff5c52;
  --ozi-active-graphic-neutral-primary: #7c9bb53a;
  --ozi-active-graphic-neutral-secondary: #95a6b62d;
  --ozi-active-graphic-quaternary: #d2dbe3;
  --ozi-active-graphic-quaternary-transparent: #6d839782;
  --ozi-active-layer-floor0: #e1e8ee;
  --ozi-active-layer-floor1: #eceff2;
  --ozi-active-text-action-primary: #0096ff;
  --ozi-active-text-negative: #ff5c52;
  --ozi-bg-action-primary: #005bff;
  --ozi-bg-action-secondary: #c9e7fd;
  --ozi-bg-action-secondary-transparent: #0094ff28;
  --ozi-bg-action-tertiary: #0096ff;
  --ozi-bg-alert-primary: #cd066a;
  --ozi-bg-alert-secondary: #ffdae3;
  --ozi-bg-alert-secondary-transparent: #ff698e28;
  --ozi-bg-negative-primary: #db2919;
  --ozi-bg-negative-secondary: #feddcf;
  --ozi-bg-negative-secondary-transparent: #ff755028;
  --ozi-bg-neutral-primary: #768695;
  --ozi-bg-neutral-secondary: #e1e8ee;
  --ozi-bg-neutral-secondary-transparent: #95a6b62d;
  --ozi-bg-primary: #fff;
  --ozi-bg-primary-transparent: #ffffffa3;
  --ozi-bg-secondary-transparent: #7c9bb53a;
  --ozi-bg-success-primary: #00b14a;
  --ozi-bg-success-secondary: #d7f9d7;
  --ozi-bg-success-secondary-transparent: #05d90528;
  --ozi-bg-tertiary-transparent: #95a6b62d;
  --ozi-bg-warning-primary: #ffb800;
  --ozi-bg-warning-secondary: #ffe4a8;
  --ozi-bg-warning-secondary-transparent: #ffa10028;
  --ozi-elevation-overlay1: #fff;
  --ozi-elevation-overlay2: #fff;
  --ozi-elevation-overlay3: #fff;
  --ozi-extra-bg-econom-primary: #f88f14;
  --ozi-extra-bg-econom-secondary: #ffebd2;
  --ozi-extra-bg-econom-secondary-transparent: #ff820028;
  --ozi-extra-bg-info-primary: #06a7bb;
  --ozi-extra-bg-info-secondary: #d8f5fa;
  --ozi-extra-bg-info-secondary-transparent: #0bc0df28;
  --ozi-extra-bg-pro-primary: #5b51de;
  --ozi-extra-bg-pro-secondary: #eeecff;
  --ozi-extra-bg-pro-secondary-transparent: #9488ff28;
  --ozi-extra-graphic-econom: #ba5707;
  --ozi-extra-graphic-info: #007a91;
  --ozi-extra-graphic-pro: #5b51de;
  --ozi-extra-text-econom: #ba5707;
  --ozi-extra-text-info: #007a91;
  --ozi-extra-text-pro: #5b51de;
  --ozi-graphic-action-primary: #005bff;
  --ozi-graphic-action-secondary-transparent: #4aaef84c;
  --ozi-graphic-alert-primary: #cd066a;
  --ozi-graphic-alert-secondary-transparent: #fe83a14c;
  --ozi-graphic-negative-primary: #db2919;
  --ozi-graphic-negative-secondary-transparent: #fb8d5e4c;
  --ozi-graphic-primary-transparent: #02182baf;
  --ozi-graphic-quaternary: #d2dbe3;
  --ozi-graphic-quaternary-transparent: #9fb2c377;
  --ozi-graphic-secondary-transparent: #001a3399;
  --ozi-graphic-success-primary: #00983e;
  --ozi-graphic-success-secondary-transparent: #00e4004c;
  --ozi-graphic-tertiary-transparent: #4b667e87;
  --ozi-graphic-warning-primary: #ffa800;
  --ozi-graphic-warning-secondary-transparent: #fea4004c;
  --ozi-inverted-bg-primary: #070707;
  --ozi-inverted-bg-warning: #ba5707;
  --ozi-inverted-graphic-primary: #f8fafd;
  --ozi-inverted-text-primary: #f8fafd;
  --ozi-inverted-text-warning: #ffebd2;
  --ozi-layer-floor0: #f0f2f5;
  --ozi-layer-floor1: #fff;
  --ozi-layer-floor2: #f5f7fa;
  --ozi-layer-floor3: #eceff2;
  --ozi-layer-surface-transparent: #9bafcd19;
  --ozi-static-bg-action-primary: #005bff;
  --ozi-static-bg-action-secondary: #0096ff;
  --ozi-static-bg-neutral-primary: #253646;
  --ozi-static-bg-neutral-secondary: #e1e8ee;
  --ozi-static-bg-neutral-secondary-transparent: #9fb2c377;
  --ozi-static-bg-primary-transparent: #fffc;
  --ozi-static-graphic-action-primary: #005bff;
  --ozi-static-graphic-action-primary-on-dark: #51b3fc;
  --ozi-static-graphic-alert-primary: #cd066a;
  --ozi-static-graphic-alert-primary-on-dark: #fda5be;
  --ozi-static-graphic-dark-transparent: #2a49648c;
  --ozi-static-graphic-info-primary: #06a7bb;
  --ozi-static-graphic-info-primary-on-dark: #25cfe9;
  --ozi-static-graphic-negative-primary: #db2919;
  --ozi-static-graphic-negative-primary-on-dark: #fc8d69;
  --ozi-static-graphic-neutral-on-dark: #e1e8ee;
  --ozi-static-graphic-primary-on-dark-transparent: #f8fafd;
  --ozi-static-graphic-primary-on-light-transparent: #070707;
  --ozi-static-graphic-pro-primary: #5b51de;
  --ozi-static-graphic-secondary-on-dark-transparent: #fffc;
  --ozi-static-graphic-success-primary: #00db5b;
  --ozi-static-graphic-success-primary-on-dark: #00db5b;
  --ozi-static-graphic-warning-primary-on-dark: #824822;
  --ozi-static-text-action: #005bff;
  --ozi-static-text-action-on-dark: #51b3fc;
  --ozi-static-text-alert: #cd066a;
  --ozi-static-text-dark: #02182baf;
  --ozi-static-text-info: #007a91;
  --ozi-static-text-negative: #db2919;
  --ozi-static-text-primary-on-dark-transparent: #f8fafd;
  --ozi-static-text-primary-on-light-transparent: #070707;
  --ozi-static-text-pro: #5b51de;
  --ozi-static-text-secondary-on-dark-transparent: #fff9;
  --ozi-static-text-success: #007f33;
  --ozi-static-text-warning: #934012;
  --ozi-static-text-warning-on-dark: #ffd540;
  --ozi-system-autofill: #0094ff28;
  --ozi-system-control: #b5c0ca;
  --ozi-system-control-active: #a0aebb;
  --ozi-text-action: #005bff;
  --ozi-text-alert: #cd066a;
  --ozi-text-negative: #db2919;
  --ozi-text-primary-transparent: #070707;
  --ozi-text-secondary-transparent: #001a3399;
  --ozi-text-success: #007f33;
  --ozi-text-tertiary-transparent: #0e2a4591;
  --ozi-text-warning: #934012;
  --ozonBlue: #005bff;
  --ozonMagenta: #f91155;
  --pro-100: #8d8bff4d;
  --pro-100-opaque: #ddf;
  --pro-25: #8d8bff0d;
  --pro-25-opaque: #f9f9ff;
  --pro-300: #b1b9ff;
  --pro-400: #8d8bff;
  --pro-50: #8d8bff1f;
  --pro-50-opaque: #f1f1ff;
  --pro-500: #694efb;
  --pro-600: #4e1bd9;
  --qwe-primary-dark: #2f9bf9;
  --qwe-primary-hovered-dark: #0045bd;
  --qwe-primary-hovered-light: #0045bd;
  --qwe-primary-light: #005bff;
  --qwe-secondary-dark: #6183a21a;
  --qwe-secondary-hovered-dark: #6183a229;
  --qwe-secondary-hovered-light: #6183a229;
  --qwe-secondary-light: #6183a21a;
  --qwe-text-dark: #fffffff2;
  --qwe-text-inverted-dark: #fffffff2;
  --qwe-text-inverted-light: #fffffff2;
  --qwe-text-light: #001122f2;
  --shadowToken-100: 0 0 2px #0000001f;
  --success-100: #1dae404d;
  --success-100-opaque: #bce7c6;
  --success-25: #1dae400d;
  --success-25-opaque: #f3fbf5;
  --success-300: #34d865;
  --success-400: #1dae40;
  --success-50: #1dae401f;
  --success-50-opaque: #e3f5e8;
  --success-500: #008028;
  --success-600: #0b5e1f;
  --swiper-theme-color: #007aff;
  --text-200: #0011228f;
  --text-200-inverted: #ffffff73;
  --text-300: #001122a8;
  --text-300-inverted: #ffffffa6;
  --text-500: #001122f2;
  --text-500-inverted: #fffffff2;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-blur: ;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-brightness: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-size: ;
  --tw-contain-style: ;
  --tw-contrast: ;
  --tw-drop-shadow: ;
  --tw-gradient-from-position: ;
  --tw-gradient-to-position: ;
  --tw-gradient-via-position: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-numeric-figure: ;
  --tw-numeric-fraction: ;
  --tw-numeric-spacing: ;
  --tw-ordinal: ;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-inset: ;
  --tw-ring-offset-color: #fff;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-offset-width: 0px;
  --tw-ring-shadow: 0 0 #0000;
  --tw-rotate: 0;
  --tw-saturate: ;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-sepia: ;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-slashed-zero: ;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --warning-100: #f7b2004d;
  --warning-100-opaque: #fde8b3;
  --warning-25: #f7b2000d;
  --warning-25-opaque: #fefbf2;
  --warning-300: #ffd62c;
  --warning-400: #f7b200;
  --warning-50: #f7b2001f;
  --warning-50-opaque: #fef5e0;
  --warning-500: #a6591a;
  --warning-600: #794612;
  --wreathGreen: #3ac267;
  --yellowStar: #ffd540;
  --z-index-header: 101;
  --z-index-notification: 11000;
  --z-index-overlay-mode: 8000;
  --z-index-window: 9000;
}